<table>
  <tr>
    <td><b>Zeit:</b></td>
    <td><b>Fr 7. bis So 9. September 2012</b></td>
  </tr>

  <tr>
    <td><b>Ort:</b></td>
    <td><a href="http://pfadiheim-winterthur.ch/heim.php/1/breite.html">Pfadiheim Breite</a>, Winterthur<br>
      (<a href="http://maps.google.ch/maps?q=47.489561,8.72617&num=1&t=h&sll=47.489579,8.72617&sspn=0.001269,0.00228&ie=UTF8&ll=47.489572,8.726149&spn=0.002537,0.00456&z=17">Google Maps</a>,
      Bus: '<a href="https://maps.google.ch/maps/place?q=type:transit_station:%22Winterthur,+Breite%22&ftid=0x479a99a0177ef9e5:0x6adb1d09f267767a">Winterthur Breite</a>')
    </td>
  </tr>

  <tr>
    <td><b>Kosten:</b></td>
    <td> ungef채hr 60.-/Person f체r die ganzen drei Tage</td>
  </tr>

  <tr>
    <td><b>Mitbringen:</b></td>
    <td>PC (mit Windows, genug freiem Festplattenplatz sowie aktuellen Treibern), Spass, evtl. Duschzeugs, Leintuchschlafsack</td>
  </tr>

  <tr>
    <td><b>Daheimlassen:</b></td>
    <td>Alles andere, insbesondere Alkohol (weil verboten).<br />
      F체r Verpflegung und Infrastruktur wird gesorgt <br />(Server, Switches, Lankabel, Better, Duschen, ...).</td>
  </tr>

  <tr>
    <td><b>Spiele:</b></td>
    <td>Siehe <%= link_to 'List of Games', games_url %></td>
  </tr>

</table>

<hr class="field_seperator">

F체r alles weitere siehe die <%= link_to 'FAQ', faqs_url %>. 
