<h1>Canvas Test</h1>
<div id="testcanvas_div">
	<canvas id="testcanvas">
	Keine Canvas-support in deinem Browser. Brauch was anständiges!
		<option votes="12" text="hallo" color="#ffaa00" />
		<option votes="6"  text="foobar" color="#ff3300" />
		<option votes="10" text="welt test" color="#aaff00" />
	</canvas>
</div>

