<% if notice %>
  <div class="notice_message"><%= notice %></div>
  <hr>
<% end %>

<% if @errors %>
  <% @errors.each do |msg| %>
    <div class="form_error">
      <%= msg %>
    </div>
  <% end %>
<% end %>
