<div id="links">
  <%= link_to image_tag("logo.png", :id => 'logo'), root_url %>
  </a>
</div>

<div id="account">
  <h2>Account</h2>
  not logged in right now<br>
  it's not implemented anyway ;)
</div>
