<hr>

<h2>
<% if game.link.blank? %>
  <%= game.name %>
<% else %>
  <%= link_to game.name, game.link %>
<% end %>
</h2>

<%= image_tag(game.screenshot.url, {:class => "thumb"}) if game.screenshot.present? %>

<br />

<%= game.description.html_safe %>
