@font-face
{
    font-family: 'Mate SC';
    src: font-url('Mate_SC/MateSC-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Open Sans';
    src: font-url('Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Open Sans';
    src: font-url('Open_Sans/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
}
