/*
 *= require 'reset'
 *= require 'fonts'
 */

html, body, input
{
	/*font-family: 'Tinos', serif;*/
	font-family: 'Open Sans', sans-serif;
	
	font-weight: 400;
	line-height: 1.5;
	font-size: 10pt;
	
	background-color: #111;
	color: #eee;
}

body
{
	text-align: center;
	margin-top: 50px;
}

#content
{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width:  520px;
}

#box
{
	margin-top: 3pt;
	color: #000;
	background-color: #fff;
	padding: 10px;
	box-shadow: 5px 5px 20px #000;
	/*border-radius: 2px;*/
	width: 500px;
}


#count
{
	float: right;
	margin-top: -17pt;
}

#footer
{
  width: 500px;
  padding-right: 10px;
  padding-left:  10px;
  text-align: right;
  color: #333;

  a {
    color: #444;
  }
}

b
{
	font-weight: 700;
}

i
{
	font-style: italic;
	font-weight: 500;
}

.clear
{
	clear: both;
}

a
{
	color: #d40;
	/*color: #f00;*/
	
	text-decoration: underline;
}

h1
{
	font-size: 20pt;
	font-family: 'Mate SC', serif;
	
	text-shadow: 1px 1px 2px #000;
}

h2
{
	font-size: 16pt;
	font-family: 'Mate SC', serif;
}

h3
{
	font-size: 12pt;
	font-family: 'Mate SC', serif;
	font-weight: bold;
}


hr
{
	border: none;
	border-bottom: 1px solid #bbb;
	margin-bottom: 10pt;
	clear: both;
}

hr.double_line
{
  border-top: 1px solid #bbb;
  height: 3px;
}

textarea
{	
	display: inline block;
	height: 200pt !important;
}

input:focus, textarea:focus
{
	border: 1px solid #333;
	box-shadow: 0 0 8px rgba(0,0,0,0.4);
	
	
}

input, textarea
{
	width: 500px;
	border: 1px solid #aaa;
	background-color: #fff;
	color: #000;
	
	outline:none;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}

input[type=submit], input[id=name]
{
	font-family: 'Mate SC', serif;
	font-weight: bold;
	color: #d40;
    border-color: #d97;
    background-color: #fffafa;
	/* width: 502px; */
    width: 251px;
    margin-left: 251px;
}

.form_error
{
	color: #B00;
}

.form_error:before
{
	content: image-url('icons/error.png');
	margin-right: 4pt;
	margin-left: 5pt;
	/*bottom: -:px;*/
	position: relative;
}

.field_seperator
{
	height: 4pt;
	margin: 0;
	visibility: hidden;
}

td
{
	padding-left: 5px;
	padding-bottom: 2px;
	vertical-align: top;
}

#tbl_lan_participants
{
  width: 100%;
}

#tbl_lan_participants td
{
	padding-left:  10px;
	padding-right: 10px;
}

#tbl_lan_participants thead
{
	font-family: 'Mate SC', serif;
	font-weight: bold;
}

#tbl_lan_participants thead tr
{
	border-bottom: 1px solid #888;
}

#tbl_lan_participants tbody tr
{
	border-bottom: 1px solid #ccc;
}

#tbl_lan_participants a
{
	color: #000;
}

ul
{
	list-style-type: square;
	margin-left: 20px;
}

img.thumb
{
	width: 200px;
	float: left;
	margin: 10px;
}

.gamecat
{
	float: right;
	margin-top: -25pt;
	
	font-size: 12pt;
	font-family: 'Mate SC', serif;
	
	color: #888;
}


.error_message, .warning_message, .notice_message
{
  font-size: 14pt;

  background-color: #eee;
  border: 1px solid #FFF;
  padding: 15pt;
  margin: 15pt;
  
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(18,18,18,0.5);
  
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  background: -moz-linear-gradient(top, #eee, #ddd);
}

.error_message
{
  background: -moz-linear-gradient(top, #eaa, #ddd);
}

.warning_message
{
  background: -moz-linear-gradient(top, #eca, #ddd);
}

.notice_message
{
  background: -moz-linear-gradient(top, #eea, #ddd);
}
